body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.promo-panel {
    background: linear-gradient(45deg, rgb(146, 16, 115), rgb(51, 234, 253));
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.promo-header img {
    width: 300px;
    margin-bottom: 20px;
}

.promo-content h1 {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bold;
}

.promo-content p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.price {
    font-size: 20px;
    margin-bottom: 25px;
}

.cta-button {
    padding: 12px 30px;
    background-color: #ff9900;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e68a00;
}

.promo-footer {
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: radial-gradient(circle, rgb(24, 172, 90), rgb(114, 121, 182));
    padding: 25px;
    border-radius: 15px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-content h2 {
    margin-bottom: 20px;
    color: #0047bb;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

.modal-content li {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.6;
}

.modal-content .cta-button {
    background-color: #0047bb;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 16px;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #0047bb;
}

/* Botões WhatsApp */
#subscribe-btn {
    background: radial-gradient(circle, rgb(82, 178, 21), rgb(53, 88, 114));
}


a {
    text-decoration: none;
    color: #ffffff;
}

.plano1 {
    color: #960000;
    font-weight: bold;
}

.plano2 {
    color: #ffc400;
    font-weight: bold;
}

.plano3 {
    color: #ffffff;
    font-weight: bold;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.plano4 {
    animation: pulse 1.5s infinite ease-in-out;
    font-size: 22px;
    font-weight: bold;
    color: #3a0091;
    display: inline-block;
    text-decoration: none; /* Remove o sublinhado do link */
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

.plano4:hover {
    color: #016234; /* Cor ao passar o mouse */
}





































.logo {
    width: 250px;
}

.txtmodal {
    color: #ffffff;
}

.txtmodal2 {
    font-weight: bold;
}